@use 'clear';
@use 'variables';

@media (max-width: variables.$breakpoint_medium-to-small) {
    .navigation__logo {
        width: 97px;
        height: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .navigation__buttons {
        z-index: 100;
        background-color: #ffffff;
    }
    .navigation__button {
    }
    .navigation__button_enter {
        display: block;
    }
    .filled-button {
    }
    .navigation__button__lang {
    }
    .lang_active {
        display: none;
    }
    .navigation__button__connect {
    }
    .connect {
    }
    .button-hollow {
    }
    .navigation__menu-icon {
    }
    .group-cases__radio {
        border: 1px solid #B2EEFC;
        border-radius: 50%;
    }
    .selected-radio {
        background: variables.$gradient_dark;
    }
    .footer-background {
        background: #F3F9FF;
    }
    .footer__connect-form input[type=text], .footer__connect-form textarea {
        background: #FFFFFF;
        border: 1px solid rgba(56, 152, 254, 0.4);
        box-sizing: border-box;
        border-radius: 40px;
      }
    .footer__connect-form textarea{
        border-radius: min(5.2vw, 40px);
    }
    .footer__connect-form input[type="text"], .footer__connect-form input[type="email"], .footer__connect-form textarea {
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #3898fe66;
        border-radius: 40px;
    }
}