@use 'variables';
@font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.woff") format("woff");
}

.h0, .h3, h4, .text_lead, .text_info {
    color: variables.$text;
}
.h0 {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: min(2.8vw, 40px);
    line-height: min(3.2vw, 46px);
    letter-spacing: 0.985946px;
}
.h3 {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: min(1.5vw, 22px);
    line-height: min(2vw, 30px);
    letter-spacing: 0.44px;
}
.h4 {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: min(1.9vw, 28px);
    line-height: min(2.5vw, 36px);
    letter-spacing: 0.44px;
}
.text_info {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25vw, 18px);
    line-height: min(1.9vw, 28px);
    letter-spacing: 0.443077px;
}
.text_lead {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(1.7vw, 24px);
    line-height: min(2.36vw, 34px);
    letter-spacing: 0.713846px;
}
.navigation__button {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(0.97vw, 14px);
    line-height: min(1.3vw, 19px);
    letter-spacing: 0.96px;
}
.navigation__button__lang {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(1.11vw, 16px);
    line-height: min(1.5vw, 22px);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    text-align: center;
}
.lang_active {
    background: variables.$gradient_dark;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #1792C7;
}
.button-hollow, .button-filled {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: min(1.1vw, 16px);
    line-height: min(1.5vw, 22px);
    text-align: center;
    letter-spacing: 0.369231px;
}
.input-text-dark, .input-text-light, .form_sent {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(1.1vw, 16px);
    line-height: min(1.7vw, 24px);
    letter-spacing: 0.96px;
}
.form_email-to-know {
    button {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: min(1.1vw, 16px);
        line-height: min(1.7vw, 24px);
        letter-spacing: 0.443077px;
        color: #FFFFFF;
    }
}
.form_email-to-know__white {
    button {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: min(1.1vw, 16px);
        line-height: min(1.7vw, 24px);
        letter-spacing: 0.443077px;
        color: #FFFFFF;
    }
}
.group-banks__banks__header, .group-banks__integrations__header {
    color: rgba(56, 152, 254, 0.5);
}
.footer__connect-form {
    .input-textarea-light {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(1.25vw, 18px);
        line-height: min(1.9vw, 28px);
        letter-spacing: 0.443077px;
        color: #1792c7; 
    }
}
.input-textarea-light {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25vw, 18px);
    line-height: min(1.9vw, 28px);
    letter-spacing: 0.443077px;
    color: #1792c7;
}
.input-textarea-light:focus {
    opacity: 1;
    color: #2d3238;
}
.input-textarea-light::placeholder {
    opacity: .6;
}
.input-text-light {
    color: #1792c7;
}
.input-text-light::placeholder, .input-text-light::-moz-placeholder {
    opacity: .6;
}
.input-text-dark::placeholder, .input-text-dark::-moz-placeholder {
    opacity: .6;
}
.input-text-light:focus, .input-text-dark:focus {
    opacity: 1;
    color: #2D3238;
}
.input-text-light::-webkit-input-placeholder {
    color: rgb(23, 146, 199);
}
.input-text-dark {
    color: #1792C7;
}
.input-text-dark::-webkit-input-placeholder {
    color: rgb(23, 146, 199);
}
.footer__copyrights__itself {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: min(0.6vw, 8px);
    line-height: min(0.7vw, 10px);
    color: variables.$text;
}
.group-cases__panel__read {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.369231px;
    color: #1792C7;
}
@media (max-width: variables.$breakpoint_large-to-medium) {
    .h0 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 700;
        font-size: min(5.2vw, 40px);
        line-height: min(6vw, 46px);
        letter-spacing: 0.985946px;
    }
    .h3 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: min(2.86vw, 22px);
        line-height: min(3.9vw, 30px);
        letter-spacing: 0.44px;
    }
    .h4 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: min(3.65vw, 28px);
        line-height: min(4.69vw, 36px);
        letter-spacing: 0.44px;
    }
    .text_info {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.34vw, 18px);
        line-height: min(3.65vw, 28px);
        letter-spacing: 0.443077px;
    }
    .text_lead {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(3.13vw, 24px);
        line-height: min(4.43vw, 34px);
        letter-spacing: 0.713846px;
    }
    .navigation__button {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.96px;
    }
    .group-2__text__header{
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: min(3.65vw, 28px);
        line-height: min(4.69vw, 36px);
        letter-spacing: 0.44px;
    }
    .group-how-it-works__panel__text_info {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.08vw, 16px);
        line-height: min(3.13vw, 24px);
        text-align: center;
        letter-spacing: 0.443077px;
    }
    .group-for-who__panel__text_info {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.08vw, 16px);
        line-height: min(2.6vw, 20px);
        letter-spacing: 0.443077px;
    }
    .group-tariffs__text, .group-security__text {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.34vw, 18px);
        line-height: min(3.65vw, 28px);
        letter-spacing: 0.443077px;
    }
    .button-hollow, .button-filled {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: min(2.08vw, 16px);
        line-height: min(2.86vw, 22px);
        text-align: center;
        letter-spacing: 0.369231px;
    }
    .input-text-dark, .input-text-light, .form_sent {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.08vw, 16px);
        line-height: min(3.13vw, 24px);
        letter-spacing: 0.96px;
    }
    .form_email-to-know {
        button {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 600;
            font-size: min(2.08vw, 16px);
            line-height: min(3.13vw, 24px);
            letter-spacing: 0.443077px;
            color: #FFFFFF;
        }
    }
    .form_email-to-know__white {
        button {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 600;
            font-size: min(2.08vw, 16px);
            line-height: min(3.13vw, 24px);
            letter-spacing: 0.443077px;
            color: #FFFFFF;
        }
    }
    .input-textarea-light {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.34vw, 18px);
        line-height: min(3.65vw, 28px);
        letter-spacing: 0.443077px;
        color: rgba(23, 146, 199, 0.6);
    }
    .footer__copyrights__itself {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: min(1.04vw, 8px);
        line-height: min(1.3vw, 10px);
        color: variables.$text;
    }
}
@media (max-width: variables.$breakpoint_medium-to-small) {
    .h0 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.985946px;
    }
    .h3 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
    }
    .h4 {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
    }
    .text_info {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
    }
    .text_lead {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.713846px;
    }
    .button-hollow, .button-filled {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.369231px;
    }
    .input-text-dark, .input-text-light, .form_sent {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;  
        letter-spacing: 0.96px;
    }
    .form_email-to-know {
        button {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.443077px;
            color: #FFFFFF;
        }
    }
    .form_email-to-know__white {
        button {
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.443077px;
            color: #FFFFFF;
        }
    }
    .input-textarea-light {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: min(2.34vw, 18px);
        line-height: min(3.65vw, 28px);
        letter-spacing: 0.443077px;
    }
    .footer__copyrights__itself {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: min(1.04vw, 8px);
        line-height: min(1.3vw, 10px);
        color: variables.$text;
    }
    .navigation__button {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.96px;
        color: #555E68;
    }
    .footer__connect-form .input-textarea-light {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;
    }
    .footer__copyrights__confidentiality {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.443077px;
    }
    .footer__copyrights__itself {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
    }
    .group-banks__integrations__icons {
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.443077px;
    }
}